<!-- About Section -->

<section class="about" id="about">
  <h2 class="section__title section_title--about">Who I am</h2>
  <p class="section__subtitle section__subtitle--about">Designer & developer based out of NYC</p>

  <div class="about--body">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem commodi, reprehenderit quibusdam harum dolores quasi voluptatem, vero quis sit mollitia impedit doloremque similique amet totam, minus voluptas quia dolorem provident?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid neque iure repellendus, sed, dicta, laboriosam perferendis quasi rem laborum aut aliquam ea sunt omnis quo iste, porro corporis totam animi.</p>
    </div>

  <img src="../assets/imgs/dev-jane-02.jpg" alt="Jane standing by a wall" class="about--img">
</section>
