<!-- Services Section -->

<section class="services" id="services">
  <h2 class="section__title section__title--services">What I do</h2>
  <div class="container__services">
    <div class="service">
      <h3>Design + Development</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste placeat nostrum ut expedita repudiandae debitis magni, laboriosam perferendis aut eos!</p>
    </div>

    <div class="service">
      <h3>E-Commerce</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia vero repellat itaque iure quaerat eaque! Officiis, aut ipsam dolorem at!</p>
    </div>

    <div class="service">
      <h3>Wordpress</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat culpa quas ducimus eveniet voluptates sequi quibusdam magnam debitis maxime sunt!</p>
    </div>
  </div>

  <a href="#work" class="btn">My Work</a>
</section>
