<!-- Work Section -->

<section class="work" id="work">
  <h2 class="section__title section__title--work">My work</h2>
  <p class="section__subtitle section__subtitle--work">A section of my range of work</p>

  <div class="portfolio">
    <a href="portfolio-item.html" class="portfolio__item">
      <img src="../assets/imgs/portfolio-01.jpg" alt="" class="portfolio__img">
    </a>
    <a href="#" class="portfolio__item">
      <img src="../assets/imgs/portfolio-02.jpg" alt="" class="portfolio__img">
    </a>
    <a href="#" class="portfolio__item">
      <img src="../assets/imgs/portfolio-03.jpg" alt="" class="portfolio__img">
    </a>
    <a href="#" class="portfolio__item">
      <img src="../assets/imgs/portfolio-04.jpg" alt="" class="portfolio__img">
    </a>
    <a href="#" class="portfolio__item">
      <img src="../assets/imgs/portfolio-05.jpg" alt="" class="portfolio__img">
    </a>
    <a href="#" class="portfolio__item">
      <img src="../assets/imgs/portfolio-06.jpg" alt="" class="portfolio__img">
    </a>
    <a href="#" class="portfolio__item">
      <img src="../assets/imgs/portfolio-07.jpg" alt="" class="portfolio__img">
    </a>
    <a href="#" class="portfolio__item">
      <img src="../assets/imgs/portfolio-08.jpg" alt="" class="portfolio__img">
    </a>
    <a href="#" class="portfolio__item">
      <img src="../assets/imgs/portfolio-09.jpg" alt="" class="portfolio__img">
    </a>
    <a href="#" class="portfolio__item">
      <img src="../assets/imgs/portfolio-10.jpg" alt="" class="portfolio__img">
    </a>
  </div>
</section>
